/* Misc Styling */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* header */
.header {
    background-color: #1f2937;
    padding: 16px 208px;
}

/* navigation bar */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

a, .text, .paragraph {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

/* hero section */
.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 112px 0;
}

.welcome .description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.welcome .placeholder {
    flex-shrink: 0;
    width: 50%;
}

.welcome .title {
    color: #f9faf8;    
    font-weight: 900;
    font-size: 48px;
}

button {
    padding: 7px 16px;
    width: 120px;
    background: #3882f6;
    border-radius: 8px;
}

.welcome button {
    font-size: 18px;
    border: none;
    color: #e5e7eb;
}

.image {
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 215px;
}
